.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.26em;
}

.App-header img {
  align-self: flex-start;
  justify-self: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HesHomeHeaderHeading {
  color: #abcdef;
}

.popeyethesailor {
  
}

.greeting {
  color: #becafe;
}
